body {
    font-family: 'Athelas', serif;
    color: deep blue;
    background-color: white;
    margin: 0;
    padding: 0;
}

.profile {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-right: 20px;
}

.bio-content {
    max-width: 800px;
}

.social-media a {
    margin-right: 10px;
    color: deep blue;
    text-decoration: none;
}

h1, h2, h3 {
    color: deep blue;
}

/* Specific styles for the publications */
.publication-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.publication {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.publication img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.publication-info {
    display: flex;
    flex-direction: column;
}

.publication-info .journal-name {
    background-color: #FF4136;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.publication a {
    color: #002244; /* Deep blue, as per your preference */
    font-weight: bold;
    text-decoration: none;
}

.publication span {
    font-size: 0.8em;
    color: #666;
}
