/* Base settings for the body */
body {
    font-family: 'Athelas', serif;
    margin: 0;
    background: white;
    color: #003366; /* Deep blue color */
    line-height: 1.6;
}

/* Header and profile section styling */
header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    background-color: #f8f8f8;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-right: 20px;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icon {
    width: 24px;
    height: 24px;
    display: block;
}

/* Content sections */
.content {
    padding: 20px;
}

h1, h2 {
    color: #003366;
}

.publications {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.publication {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.publication img {
    width: 100%; /* Responsive images */
    height: auto;
    margin-bottom: 10px;
}

.journal-box {
    background-color: #900; /* Deep red color */
    color: white;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 5px;
}

/* Adjust the spacing and layout as necessary */
